# len() function

In [6]:
#Number of rows in a dataframe
# list having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# returns number of elements in the list
c_pet_types = len(lst_pet_types)
# prints 3
print(f"# pet types: {c_pet_types}")
# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# returns number of keys in the dictionary
c_pets = len(dict_pets)
# prints 2
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
# returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# prints 1
print(f"# pets: {c_pets} ; # humans: {c_humans}")
# get only keys from the dictionary

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2

In [7]:
lst_boys= ['Danny','Walter','zack','zeus','John']
no_of_boys= len(lst_boys)
print(no_of_boys)

5

In [8]:
lst_girls = {'stem_girls':[{'name':'Glad','age':15},{'name':'Beni','age':12}]}
print(len(lst_girls))

1

In [12]:
lst_girl = {
    'stem_girls': [
        {'name': 'Glad', 'age': 15},
        {'name': 'Beni', 'age': 12}
    ],
    'art_girls': {'name': 'Jessie', 'age': 12}
}
print(len(lst_girl))

2

In [15]:
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
lst_keys = [*dict_p_h]
# get only values from the dictionary
lst_values = [*dict_p_h.values()]
# prints
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

# Dataframe

In [17]:
import pandas as pd

In [19]:
lst_girl = {
    'stem_girls': [
        {'name': 'Glad', 'age': 15},
        {'name': 'Beni', 'age': 12}
    ],
    'art_girls': [{'name': 'Jessie', 'age': 12}]
}

# Restructure the data into a list of dictionaries
data = []
for category, girls in lst_girl.items():
    for girl in girls:
        girl['category'] = category  # Add a 'category' key to differentiate STEM girls from art girls
        data.append(girl)

# Create a DataFrame from the restructured data
df = pd.DataFrame(data)

print(df)

     name  age    category
0    Glad   15  stem_girls
1    Beni   12  stem_girls
2  Jessie   12   art_girls

# Rename Column

In [22]:
df.columns = ['a', 'b','c']
print(df)

        a   b           c
0    Glad  15  stem_girls
1    Beni  12  stem_girls
2  Jessie  12   art_girls

# Remove Column

In [24]:
df = df.drop(columns=['a', 'b'])
print(df)

            c
0  stem_girls
1  stem_girls
2   art_girls

# Strip()

In [25]:
txt = " 	Moscow 	"
str_clean = txt.strip()
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [32]:
Ted="  Hey,   "
ted = Ted.strip()
print(f'Hey,{ted}Ted')

Hey,Hey,Ted

# join() method on list

In [33]:
lst_items = ['rambo','dog','chennai']
# joins elements of lst_items by delimiter ','
str = ','.join(lst_items)
# prints -> rambo,dog,chennai
print(str)

rambo,dog,chennai

In [35]:
girls = ['Jessie','Anne','Eksimo','Shimo']
girl=' and '.join(girls)
print(girl)

Jessie and Anne and Eksimo and Shimo