# Libraries

In [4]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\proventus\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [31]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from tabulate import tabulate

# List

In [6]:
lst_names = []
# list with some string values in it
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
lst_cities.append("NYC")
# list with some integer values
lst_age = [10, 20]
# append an integer to the existing list
lst_age.append(30)
# iterate each value in a list
for val in lst_cities:
 print(val)
# check if a value exists in a list
if "SFO" in lst_cities:
 print("yes")
else:
 print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [16]:
lst_animals = ['dog','cat','elephant','lion']
print (lst_animals)

['dog', 'cat', 'elephant', 'lion']

In [17]:
for val in lst_animals:
    print (val)

dog
cat
elephant
lion

In [16]:
lst_animals = ['dog','cat','elephant','lion']
print (lst_animals)

['dog', 'cat', 'elephant', 'lion']

In [22]:
lst_animals.append('Horse')
lst_animals.append('Cow')
for val in lst_animals:
    print(val)

dog
cat
elephant
lion
Tiger
Tiger
Tiger
Horse
Cow

In [23]:
lst_animals.append('Horse')
lst_animals.append('Cow')
for val in lst_animals:
    print(val)

dog
cat
elephant
lion
Tiger
Tiger
Tiger
Horse
Cow
Horse
Cow

In [30]:
print(lst_animals)
for i, value in enumerate(lst_animals):
    print(i,val)

['dog', 'cat', 'elephant', 'lion', 'Tiger', 'Tiger', 'Tiger', 'Horse', 'Cow', 'Horse', 'Cow']
0 Cow
1 Cow
2 Cow
3 Cow
4 Cow
5 Cow
6 Cow
7 Cow
8 Cow
9 Cow
10 Cow

In [32]:
print(lst_animals)
for i, value in enumerate(lst_animals):
    print(i,value)

['dog', 'cat', 'elephant', 'lion', 'Tiger', 'Tiger', 'Tiger', 'Horse', 'Cow', 'Horse', 'Cow']
0 dog
1 cat
2 elephant
3 lion
4 Tiger
5 Tiger
6 Tiger
7 Horse
8 Cow
9 Horse
10 Cow

In [9]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [51]:
print(type(lst_pets))

<class 'list'>

# Set

In [42]:
# empty set
set_names = ()
# Set with some string values in it
set_cities ={"Bangalore", "Chennai", "SFO", "Beijing"}
# list with some integer values
set_age = [10, 20]
print(set_cities)
print(set_age)

{'Beijing', 'Chennai', 'Bangalore', 'SFO'}
[10, 20]

In [35]:
set_names = set("dog") 
print(set_names)

{'o', 'd', 'g'}

In [43]:
string_set = {"apple", "banana", "orange"}
string_set.add("apple")
print(string_set)
print("banana" in string_set)  # Output: True

# Iterate over the elements of the set
for fruit in string_set:
    print(fruit)

{'apple', 'banana', 'orange'}
True
apple
banana
orange

In [44]:
string_set.add('mango')
print(string_set)

{'mango', 'apple', 'banana', 'orange'}

In [36]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2  # {1, 2, 3, 4, 5}
intersection_set = set1 & set2  # {3}
difference_set = set1 - set2  # {1, 2}
symmetric_difference_set = set1 ^ set2

In [37]:
print(union_set,intersection_set)

{1, 2, 3, 4, 5} {3}

In [50]:
print(type(set1))
print(type(string_set))

<class 'set'>
<class 'set'>

# Dictionary

In [12]:
# declare dictionary
dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})

In [13]:
for key, value in dict_data.items():
    print(key, ": ", value)

pet :  [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]

In [15]:
import json

print(json.dumps(dict_data, indent=4))

{
    "pet": [
        {
            "name": "Dog",
            "website": "dog.com",
            "from": "San Francisco"
        },
        {
            "name": "Cat",
            "website": "hellokitty.com",
            "from": "Seattle"
        }
    ]
}

In [52]:
dict_la ={'sub':'physics','topic':'quantum','level':'easy'}
print(dict_la)
print(type(dict_la))

{'sub': 'physics', 'topic': 'quantum', 'level': 'easy'}
<class 'dict'>

In [53]:
print(dict_la['sub'])

physics

In [54]:
for key, value in dict_la.items():
    print(value)

physics
quantum
easy

In [55]:
print(key,':',value)

level : easy

In [57]:
for key, value in dict_la.items():
    print(key,':',value)

sub : physics
topic : quantum
level : easy

In [58]:
print(json.dumps(dict_la))

{"sub": "physics", "topic": "quantum", "level": "easy"}